@import 'reset.css';
body {
    margin: 0;
    display: grid;
    font-family: Hack, monospace;
    grid-template-rows: banner 10vh field 90vh;
    background-color: rgb(26, 3, 26);
}

.wrapper {
    margin: 1vw;
    width: min(85vh, 98vw)
}

@media(min-width:720px) {
    .banner {
        background-color: yellowgreen;
        display: grid;
        grid-template-columns: 4fr 2fr 1fr 1fr 1fr;
    }
}

@media(max-width:720px) {
    .banner {
        background-color: yellowgreen;
        display: grid;
        grid-template-columns: "heading heading small";
    }
}

.banner>h1 {
    font-size: 10vh;
    display: inline;
}

.banner>p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner>button {
    width: 100%
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1px;
    grid-gap: 1px;
}

.box {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    display: flex;
    justify-content: center;
    padding-top: 50%;
    align-items: center;
    cursor: pointer;
    font-size: 4vh;
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.box>input {
    background-color: aqua;
    height: min(7vh, 7vw);
    width: min(7vh, 7vw);
    text-align: center;
}

.disabled {
    color: crimson;
}

@import './second.css';